@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    font-family: "DM Mono", monospace;
}

::-webkit-scrollbar {
    display: none;
}

::-moz-selection {
    color: black;
    background: #8090c9;
  }
  
::selection {
color: black;
background: #8090c9;
}