@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    font-family: "DM Mono", monospace;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #A7C7E7;
}

::-moz-selection {
    color: black;
    background: #A7C7E7;
  }
  
::selection {
color: black;
background: #A7C7E7;
}